<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>NSCameraUsageDescription</key>
	<string>Take a photo of your plant to identify it and track its health.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Use your current location to show today's local weather for plant care.</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hans</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>FusionPixel10pxProportionalZH_Hans.ttf</string>
	</array>
</dict>
</plist>
